language: bash

services:
  - docker
env:
  global:
    - DOCKER_HUB=$HUB

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" "$DOCKER_HUB" --password-stdin
 
script:
  - echo "start pull and retag and push"
  - |
    for image in $(cat img-list.txt)
    do
      docker pull $image
      docker tag $image $DOCKER_HUB/$image
      docker push $DOCKER_HUB/$image
    done
